---

---

<dialog class="modal" id="portfolio-modal">
  <article class="modal__container">
    <iconify-icon
      class="close-btn"
      icon="icon-park-twotone:close-one"
      width="48"
      height="48"
      style="color: #2dcece"></iconify-icon>
    <div class="modal__content">
      <div class="modal__banner">
        <img
          class="modal__image"
          alt=""
          src=""
        />
      </div>
      <div class="modal-thecnology">

      </div>
      <div class="modal__desc">
        <h1 class="modal__title"></h1>
        <div class="modal__fragment"></div>
      </div>
      <a class="modal__demo" href="#" target="_blank" rel="noopener noreferrer nofollow">
        Ver Demo
        <iconify-icon
          icon="quill:link-out"
          width="15"
          height="15"
          style="color: aqua"
        />
      </a>
      <a class="modal__repo" href="#" target="_blank" rel="noopener noreferrer nofollow">
        Ver Repo
        <iconify-icon
          icon="quill:link-out"
          width="15"
          height="15"
          style="color: aqua"
        />
      </a>
    </div>
  </article>
</dialog>
