@use "@sass/variables" as *;
@use "@sass/mixins" as *;
.about__links {
  position: absolute;
  @include centerFlex(space-around);
  filter: drop-shadow(12px 18px 13px black);
  width: 18rem;
  gap: 0.5rem;
  background: rgba(2, 10, 44, 0.788);
  backdrop-filter: blur(20px);
  padding: 0.4rem 0.6rem;
  border-radius: 16px;
  font-size: 1.7rem;
  z-index: 40;
  transition: transform 0.4s ease-in-out;
  @include font-family("fira-code");
  cursor: pointer;
  font-weight: 400;

  &:hover {
    color: $aqua;
    transform: scale(1.1);
  }

  .about__iconify {
    color: $aqua;
  }

  @media screen and (max-width: 1204px) {
    position: unset;
  }
}

.about__links--email {
  top: 36%;
  left: 81%;
}

.about__links--cv {
  top: 54%;
  left: 92%;
}
